<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="../css/style.css" type="text/css" charset="utf-8"/>
</head>
<body>

<div id="content">
    <p class="author"></p>
    <p class="blog"><a href="#">Blog</a></p>
</div>


</body>
<script src="../js/lib/sea.js"></script>
<script>
    seajs.config({
        base : "../js/",
        paths : {
            "css_path" : "../css/"    
        },
        alias : {
            "jquery" : "lib/jquery",
            "init" : "init",
            "data" : "data"
        }
    });
    
    seajs.use("init");
    
    
</script>
</html>